# Core Configuration
homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: !secret elevation
  unit_system: us_customary 
  time_zone: America/Chicago
  packages: !include_dir_named packages

# Split configurations into separate files
# default_config:
# Essential components
frontend:
history:
logbook:
map:
person:
zone:
automation: !include_dir_merge_list automations
script: !include_dir_merge_named scripts
scene: !include scenes.yaml
group: !include groups.yaml

# Integrations
# device_tracker: !include integrations/device_tracker.yaml
# zwave: !include integrations/zwave.yaml
mqtt: !include integrations/mqtt.yaml

# Recording configuration
recorder: !include recorder.yaml

# InfluxDB
influxdb: !include integrations/influxdb.yaml
# National Weather Service integration to stop alexa from announcing weather alerts
input_boolean:
  weather_alert_active:
    name: Weather Alert Active
    initial: off
  vacation_mode:
    name: Vacation Mode
    initial: off
    icon: mdi:airplane

# Cooldown tracking for notifications
input_datetime:
  security_notification_cooldown:
    name: Security Notification Cooldown
    has_date: false
    has_time: true
  battery_notification_cooldown:
    name: Battery Notification Cooldown
    has_date: false
    has_time: true

input_button: !include inputs/buttons.yaml

# used in the vacuum automation - vacuum_smart_rotation
# Create counters for each room
counter:
  vacuum_closet_count:
    name: Closet Clean Count
    initial: 0
    step: 1
  vacuum_laundry_count:
    name: Laundry Clean Count
    initial: 0
    step: 1
  vacuum_bedroom_count:
    name: Bedroom Clean Count
    initial: 0
    step: 1
  vacuum_familyroom_count:
    name: Family Room Clean Count
    initial: 0
    step: 1
  vacuum_kitchen_count:
    name: Kitchen Clean Count
    initial: 0
    step: 1
  vacuum_entryway_count:
    name: Entryway Clean Count
    initial: 0
    step: 1
  vacuum_garageentry_count:
    name: Garage Entry Clean Count
    initial: 0
    step: 1
  vacuum_kitchentable_count:
    name: Kitchen Table Clean Count
    initial: 0
    step: 1
  vacuum_masterbedroom_count:
    name: Master Bedroom Clean Count
    initial: 0
    step: 1
  vacuum_masterbathroom_count:
    name: Master Bathroom Clean Count
    initial: 0
    step: 1
  vacuum_office_count:
    name: Office Clean Count
    initial: 0
    step: 1
